@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* home.html */
#home {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* Option 1 */
    background: linear-gradient(to right, #660066 0%, #ff6600 100%);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Option 2 */
    /* background: linear-gradient(to top left, #0099ff 0%, #ff5050 100%); */
}

/* Navbar */
.navbar {
    /* border: 1px solid black; */
    height: 60px;
}

.navbar a {
    margin: 0;
    /* border: 1px solid black; */
    /* padding: 21px 333px; */
    padding: 1.4% 20.5%;
    width: 9%;
    /* height: 50px; */
    min-height: 28px;
    position: relative;
    top: 20px;
    text-decoration: none;
    font-size: 17px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: #f2f2f2;
    background-color: black;
    opacity: 0.5;
    /* background-color: #000000; */
    transition: 0.3s;
    float: left;
    position: relative;
    top: 0px;
}

.navbar a:hover {
    color: #f2f2f2;
    background-color: #000000;
    opacity: 0.7;
    transition: 0.3s;
}


/* content */
#home .content {
    /* border: 1px solid black; */
    margin: 20px auto;
    /* padding: 30px 50px; */
    flex-grow: 1;
}

/* Heading */
#home .content .heading {
    /* border: 1px solid black; */
    padding: 5px;
    margin: 50px auto;
    width: 510px
}

#home .content .heading h1 {
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 5px 0px rgba(0,0,0,0.75);
    /* width: 40%; */
    /* width: 500px; */
    min-width: 30%;
    font-size: 100px;
    font-family: 'VT323', monospace;
    text-align: center;
    margin: auto;
    padding: 45px;

    /* Option 1 */
    background: linear-gradient(to right, #660066 0%, #ff6600 100%);

    /* Option 2 */
    /* background: linear-gradient(to top left, #0099ff 0%, #ff5050 100%); */
    color: #f3f3f3;

    /* hover and active effects */
    /* cursor: pointer; */
    /* transition: 0.3s; */
}

/* h1:hover {
    color: #ff6600;
    background: #f4f4f4;
    transition: 0.3s;
}

h1:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    transition: 0.3s;
} */

/* Button hub */
#home .content .hub {
    /* border: 1px solid black; */
    /* width: 100%; */
    height: auto;
    padding: 10px;
    position: relative;
    margin-top: 70px;
    /* top: 10px; */
    /* margin-top: 50px; */
    /* display: flex; */
    /* margin: 10px auto;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column; */
}

#home .content .hub .buttons {
    /* border: 1px solid black; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    padding: 20px 0;

    /* width: 90%;
    margin: auto;

    margin: auto;  */
}

#home .content .hub .buttons a {
    border: none;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px 35px;
    /* margin: 0 50px; */
    margin: 0 4%;
    font-size: 25px;
    font-weight: bold;
    transition: 0.2s;
}

#home .content .hub .buttons #github {
    color: #ffffff;
    background-color: #211f1f;
}
#home .content .hub .buttons #github:hover {
    color: #211f1f;
    background-color: #ffffff;
    transition: 0.3s;
}

#home .content .hub .buttons #linkedin {
    color: #ffffff;
    background-color: #0077b5;
}
#home .content .hub .buttons #linkedin:hover {
    color: #0077b5;
    background-color: #ffffff;
    transition: 0.3s;
}

#home .content .hub .buttons #instagram {
    color: #ffffff;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
#home .content .hub .buttons #instagram:hover {
    background: #ffffff;
    color: #c13584;
    transition: 0.3s;
}

/* Footer */
#home .home-footer {
    border: 1px solid black;
    position: relative;
    /* bottom: -3px; */
    /* height: 130px; */
    /* position: absolute;
    bottom: 0%; */
    width: 99.8%;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 17px;
    background: linear-gradient(to left, #993300 0%, #660066 100%);
}

#home .home-footer p span {
    font-size: 25px;
}



/* Responsive Design styling */
/* Tablet and mobile view */
@media screen and (max-width: 850px) {
    /* Home body */
    #home {
        /* background: yellow; */
        min-height: 130vh;
    }

    #home .content .heading {
        width: 480px;
    }

    /* Navbar styling is universal (Works on both pages) */
    .navbar {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .navbar a {
        width: 59%;
        text-align: center;
        font-size: 18px;
    }

    #home .content .heading {

    }

    #home .content .hub {
        height: auto;
    }

    #home .content .hub .buttons {
        display: flex;
        flex-direction: column;
    }

    #home .content .hub .buttons a {
        margin: 10px auto;
        text-align: center;
        width: 50%;
    }


    #home .home-footer {
        width: 100%;
    }

    #about .about-content h3 {
        line-height: 42.5px;
    }

    /* All the paragraph text in the sections */
    #about .about-content .text p {
        line-height: 50px;
        font-size: 20px;
    }

    #about .about-content .whoami img {
        /* This is the only image in the website, and this is a class so its okay */
        float: none !important;
        left: 17% !important;
    }

    #about .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .projects a {
        width: 50%;
        margin: auto;
    }

}


/* *************************************************************************************************** */


/* about.html */
#about {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    /* Option 1 */
    /* background: linear-gradient(to right, #660066 0%, #ff6600 100%); */

    /* Option 2 */
    background: linear-gradient(to top left, #0099ff 0%, #ff5050 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-size: cover; */

    /* Option 3 */
    /* background: linear-gradient(to right, #66ffff 0%, #ff5050 100%); */
}

/* Container */
#about .about-content {
    /* border: 1px solid black; */
    padding: 10px;
    flex-grow: 1;
}

/* About me title */
#about .about-content h2 {
    /* border: 1px solid black; */
    color: #f2f2f2;
    width: 20%;
    font-size: 40px;
    text-align: center;
    margin: 40px auto;
}

/* "Who am I" container */
#about .about-content .whoami {
    /* border: 1px solid black; */
    padding: 10px 20px;
    margin: 30px auto;
    background-color: #333333;
    color: #f2f2f2;
    width: 80%;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}

#about .about-content .whoami h3 {
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    font-size: 25px;
    margin: auto;
    padding: 20px;
}

/* Any block of p text */
#about .about-content .whoami .text {
    /* border: 1px solid black; */
}

/* "Who am I" p text */
#about .about-content .whoami .text, .intro {
    padding: 20px 30px;
    margin: 10px;
    line-height: 30px;
    font-size: 15px;
}


/* Picture */
#about .about-content .whoami img {
    float: left;
    padding: 30px;
    margin: 5px;
    position: relative;
    top: 20px;
    left: 10px;
}

/* Tech skills container */
#about .about-content .tech-skills {
    /* border: 1px solid black; */
    margin: 40px auto;
    padding: 30px;
    /* width: 50%; */
    background-color: #333333;
    color: #f2f2f2;
    width: 80%;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}

#about .about-content .tech-skills h3 {
    /* border: 1px solid black; */
    width: 40%;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

#about .about-content .tech-skills .text, .skills {
    padding: 10px 30px;
    text-align: center;
    width: 70%;
    margin: 10px auto;
    font-size: 20px;
}

#about .about-content .career {
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #333333;
    color: #f2f2f2;
    width: 80%;
    margin: auto;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}

#about .about-content .career h3 {
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
}

#about .about-content .career .text, .path {
    padding: 20px;
    line-height: 30px;
}

/* Buttons leading to projects I've worked on */
#about .projects {
    /* border: 1px solid black; */
    width: 100%;
    margin: 30px auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

#about .projects a {
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 20px 30px;
    margin: 20px 5%;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    text-align: center;
    /* left: 13%; */
    /* width: 10%; */
}

#about .projects #khanacademy {
    color: #f2f2f2;
    background-color: #00cc7a;
    transition: 0.3s;
}
#about .projects #khanacademy:hover {
    color: #00cc7a;
    background-color: #f2f2f2;
    transition: 0.3s;
}

#about .projects #ccwebsite {
    /* background: linear-gradient(to top left, #109647 0%, #20285c 100%); */
    background-color: #20285c;
    color: #f2f2f2;
    transition: 0.3s;
}
#about .projects #ccwebsite:hover {
    color: #109647;
    background: #f2f2f2;
    transition: 0.3s;
}

#about .about-footer {
    border: 1px solid black;
    position: relative;
    bottom: -1px;
    text-align: center;
    /* font-family: 'Source Code Pro', monospace; */
    font-weight: bold;
    font-size: 17px;
    width: 99.8%;
    /* background: linear-gradient(to left, #993300 0%, #660066 100%); */
    /* background: linear-gradient(to top left, #00ccff 0%, #990033 100%); */
    /* background: linear-gradient(to left, #006699 0%, #993366 100%); */
    background: linear-gradient(to left, #006699 0%, #cc6699 100%);
    background-repeat: no-repeat;
}

